body {
  background-image:url("images/neon.jpg");
background-size: cover;

}
body {
  font-family: "Indie-Flower";
  font-style: italic;
  font-variant: inherit;
  font-weight: bold;
  font-size: 30px;
  text-align: center;

  }
h1 {
  font-family:"Indie-Flower",cursive;
  color : white;
  text-decoration:underline;
  font-size: 60px;
  text-decoration-style: double;
  text-decoration-color: #FF1493;
  text-align: center;
}
#cifra {
}
#mensajedeentrada{
  border-radius: 40px;
  font-size: 34px;
}
#desplazamientoMens {
  border-radius: 20px;
  font-size: 25px;
  text-align: center;
}
#boton1{
  background: #7CFC00;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: black;
  font-size: 16px;
  transition-duration: .5s;
  margin-top: 15px;
}
#boton2{
  background: #7CFC00;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: black;
  font-size: 16px;
  transition-duration: .5s;
  margin-top: 15px;

}
